import React from 'react';

import styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = ({...props}) => {
return (
<div className={styles.{{pascalCase name}} }></div>
);
};


export default {{pascalCase name}};